altair
pandas
streamlit
tf-keras
pandas
numpy
ipykernel
scikit-learn
xgboost
lightgbm
earthengine-api
google-generativeai
requests
geopy
plotly
matplotlib
seaborn
joblib
python-dotenv
pyOpenSSL
google-auth
google-auth-oauthlib
geemap
jupyter
notebook
scipy
pillow
flask
flask-cors
python-dateutil
pytz
geopandas
rasterio
shapely
folium
tensorboard
tensorflow
torch
pypdf
langchain-huggingface
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
transformers
huggingface-hub
streamlit
pandas
numpy
requests
joblib
scikit-learn
earthengine-api
google-generativeai
folium
streamlit-folium
geopy
python-dotenv
langchain-community
langchain-text-splitters
fastembed
faiss-cpu
streamlit-mic-recorder
SpeechRecognition
gTTS
streamlit-js-eval